@model IEnumerable<allpax_sale_miner.ViewModels.machinesW_kitsAvlbl_BnotInstalled>

@{
    ViewBag.Title = "Index";
}
<hr />
<h2 style="text-align:center">@ViewBag.name (@ViewBag.customerCode)</h2>
<h3 style="text-align:center">@ViewBag.address, @ViewBag.city, @ViewBag.state</h3>
<h4 style="text-align:center">Sales Opportunities</h4>
<hr />

@*Sales Opportunities for a specific customer*@
<head>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {//begin document read jquery statements
            var table = $('#datatable_sales_opps').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                paging: false,
                //"scrollY": "50vh",
                //"scrollX": true,
                //"scrollCollapse": true,
                order: [[1, "asc"]],
                searching: false
            });

            $('.dataTables_length').addClass('bs-select');
        });//end document read jquery statements
    </script>
</head>
<style>
    table {
        width: 100%;
        table-layout: fixed;
    }

    .kits {
        text-overflow: ellipsis;
        white-space: normal;
        overflow: visible;
        width: 30%;
        max-width: 30%;
    }
</style>
<div class="container-fluid">
    <div class="col-md-12" style="border:none">
        <table id="datatable_sales_opps" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="th-sm">
                        Job Number
                    </th>
                    <th class="th-sm">
                        Equipment Type
                    </th>
                    <th class="th-sm">
                        Model
                    </th>
                    <th class="th-sm">
                        Machine ID
                    </th>
                    <th class="th-sm">
                        Kits Available
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="record" id="">
                        <td id="" value=@Html.DisplayFor(modelItem => item.jobNo)>@Html.DisplayFor(modelItem => item.jobNo)</td>
                        <td id="" value=@Html.DisplayFor(modelItem => item.eqpmtType)>@Html.DisplayFor(modelItem => item.eqpmtType)</td>
                        <td id="" value=@Html.DisplayFor(modelItem => item.model)>@Html.DisplayFor(modelItem => item.model)</td>
                        <td id="" value=@Html.DisplayFor(modelItem => item.machineID)>@Html.DisplayFor(modelItem => item.machineID)</td>
                        <td class="kits">
                            @for (var i = 0; i < (item.kitsAvlblbNotInstld.Count); i++)
                            {
                                <span>@Html.DisplayFor(modelItem => item.kitsAvlblbNotInstld[@i]), </span>
                            }
                        </td>
                    </tr>
                }
        </table>
    </div>
</div>
