@model IEnumerable<allpax_sale_miner.Models.tbl_customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Sales Landing Page*@
    <head>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {//begin document read jquery statements
 
                var table = $('#datatable_customers').DataTable({
                    orderCellsTop: true,
                    fixedHeader: true,
                    paging: false,
                    //"scrollY": "50vh",
                    //"scrollX": true,
                    //"scrollCollapse": true,
                    order: [[1, "asc"]],
                    searching: false
                });
            
            $('.dataTables_length').addClass('bs-select');
                //begin when a record class is clicked...
                $(".record").on('click keyup change mouseover', function () {
                    selectedItem0 = $(this).attr("id");//works
                    selectedItem1 = $(this).find("#record_item1").html();//works valid for inner html only
                    selectedItem2 = $(this).find("#record_item2").html();//works valid for inner html only
                    selectedItem3 = $(this).find("#record_item3").html();//works valid for inner html only
                    selectedItem4 = $(this).find("#record_item4").html();//works valid for inner html only
                    selectedItem5 = $(this).find("#record_item5").html();//works valid for inner html only
                    selectedItem6 = $(this).find("#record_item6").html();//works valid for inner html only

                    $("#slctd_id").val(selectedItem0);
                    $("#slctd_customerCode").val(selectedItem1);
                    $("#slctd_name").val(selectedItem2);
                    $("#slctd_address").val(selectedItem3);
                    $("#slctd_city").val(selectedItem4);
                    $("#slctd_state").val(selectedItem5);
                    $("#slctd_zipCode").val(selectedItem6);
                });
                //end when a record class is clicked...
                 
                //begin go to salesCustomer page
                $(".btn.btn-primary.eqpmtButton").click(function () {//when a record's edit button is clicked...

                    var editItem0 = $("#slctd_id").val();
                    var editItem1 = $("#slctd_customerCode").val();
                    var editItem2 = $("#slctd_name").val();
                    var editItem3 = $("#slctd_address").val();
                    var editItem4 = $("#slctd_city").val();
                    var editItem5 = $("#slctd_state").val();
                    var editItem6 = $("#slctd_zipCode").val();
                   
                    window.location = '/SalesCustomer';
                });
                //end go to salesCustomer page
                //begin go to salesCustomer page
                $(".btn.btn-primary.salesButton").click(function () {//when a record's edit button is clicked...

                    var editItem0 = $("#slctd_id").val();
                    var editItem1 = $("#slctd_customerCode").val();
                    var editItem2 = $("#slctd_name").val();
                    var editItem3 = $("#slctd_address").val();
                    var editItem4 = $("#slctd_city").val();
                    var editItem5 = $("#slctd_state").val();
                    var editItem6 = $("#slctd_zipCode").val();

                    window.location = '/SalesOpps?customerCode=' + selectedItem1 + '&name=' + selectedItem2 + '&address='
                        + selectedItem3 + '&city=' + selectedItem4 + '&state='+selectedItem5;
                    
                });
                //end go to salesCustomer page
            });//end document read jquery statements
        </script>
    </head>    
    <div class="container-fluid"><hr />
            <!--begin inline add-->
            <div class="row">
                <div class="col-md-12">
                    <h5>Sales Landing- View Current Equipment or Sales Opportunities for a Customer</h5>
                    <hr />
                </div>
            </div>
            <!--end inline add-->
            <!--click event begin-->
            <div>
                <div class="row" style="display:">
                    <div class="col-md-1">ID: <input type="text" id="slctd_id" value="slctd_id"></div>
                    <div class="col-md-2">C-Code: <input type="text" id="slctd_customerCode" value="slctd_customerCode"></div>
                    <div class="col-md-2">NAME: <input type="text" id="slctd_name" value="slctd_name"></div>
                    <div class="col-md-2">address: <input type="text" id="slctd_address" value="slctd_address"></div>
                    <div class="col-md-2">city: <input type="text" id="slctd_city" value="slctd_city"></div>
                    <div class="col-md-1">state: <input type="text" id="slctd_state" value="slctd_state"></div>
                    <div class="col-md-1">zip: <input type="text" id="slctd_zipCode" value="slctd_zipCode"></div>
                </div>
            </div>
            <!--click event end-->
        </div>
<div class="container-fluid">
    <div class="col-md-12" style="border:none">
        <table id="datatable_customers" class="table table-striped table-bordered" >
            <thead>
                <tr>
                    <th class="th-sm">
                        ID
                    </th>
                    <th class="th-sm">
                        C- Code
                    </th>
                    <th class="th-sm">
                        Name
                    </th>
                    <th class="th-sm">
                        Address
                    </th>
                    <th class="th-sm">
                        City
                    </th>
                    <th class="th-sm">
                        State
                    </th>
                    <th class="th-sm">
                        Zip Code
                    </th>
                    <th class="th-sm">
                        View Data
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="record" id=@Html.DisplayFor(modelItem => item.id)>
                        <td id="record_item0" value=@Html.DisplayFor(modelItem => item.id)>@Html.DisplayFor(modelItem => item.id)</td>
                        <td id="record_item1" value=@Html.DisplayFor(modelItem => item.customerCode)>@Html.DisplayFor(modelItem => item.customerCode)</td>
                        <td id="record_item2" value=@Html.DisplayFor(modelItem => item.name)>@Html.DisplayFor(modelItem => item.name)</td>
                        <td id="record_item3" value=@Html.DisplayFor(modelItem => item.address)>@Html.DisplayFor(modelItem => item.address)</td>
                        <td id="record_item4" value=@Html.DisplayFor(modelItem => item.city)>@Html.DisplayFor(modelItem => item.city)</td>
                        <td id="record_item5" value=@Html.DisplayFor(modelItem => item.state)>@Html.DisplayFor(modelItem => item.state)</td>
                        <td id="record_item6" value=@Html.DisplayFor(modelItem => item.zipCode)>@Html.DisplayFor(modelItem => item.zipCode)</td>
                        <td>
                            <button class="btn btn-primary btn-sm eqpmtButton">Equipment</button>
                            <button class="btn btn-primary btn-sm salesButton">Sales</button>
                        </td>
                    </tr>
                }
        </table>
    </div>    
</div>



